
      <% @articles.each do |article| %>
          <%= link_to article.title, article %>
          <div class="article-content">
            <p><%= article.body %></p>
            <p><%= article.created_at %></p>
          </div>
      <% end %>
  </div>
  

